.Login_section {
  background-image: url(../../Images/first.png);
  height: 100vh;
}

.Logo_container {
  display: flex;
  box-sizing: border-box;
  padding: 0 0 30px;
}

.Logo {
  align-self: flex-end;
  font-size: 50px;
}

.Logo_name {
  align-self: baseline;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 30px;
}

.Login_header {
  font-size: 37px;
}

.Container {
  position: relative;
  margin: auto;
  top: 210px;
  width: 600px;
}

.Login_container {
  display: flex;
}

.Login_cred {
  align-items: center;
  max-width: 300px;
}

.Login_socials {
  align-self: flex-start;
  width: 250px;
  display: flex;
  flex-direction: column;

  > * {
    margin: 5px 0;
  }
}
